@import "components/vars";
@import "components/fonts";
@import "components/icons";
@import "components/mixins-media";
@import "components/mixins-adaptive";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-family-base;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-family-base;
}

.container {
    width: 100%;
    height: 100%;
    max-width: $container-max-width + px;
    margin: 0 auto;
    padding: 0 15px; 
}

@import "./blocks/*.scss";