@import "vars";
@import "fonts";
@import "icons";

@mixin LaptopL-1440 {
    @media(max-width: 1440px){
        @content;
    }
}
@mixin Laptop-1024 {
    @media(max-width: 1024px){
        @content;
    }
}
@mixin Tablet-768 {
    @media(max-width: 768px){
        @content;
    }
}
@mixin MobileL-425 {
    @media(max-width: 425px){
        @content;
    }
}
@mixin MobileM-375 {
    @media(max-width: 375px){
        @content;
    }
}
@mixin MobileS-320 {
    @media(max-width: 320px){
        @content;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-family-base;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-family-base;
}

.container {
    width: 100%;
    height: 100%;
    max-width: $container-max-width + px;
    margin: 0 auto;
    padding: 0 15px; 
}

@import "./blocks/*.scss";