.banner {
    position: relative;
    padding: 268px 0 228px 0;
    height: 100vh;
    background-color: $dark;
    background-image: 
        url('../img/banner_bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    &__content {
        width: 40%;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        @include Tablet-768 {
            width: 60%;            
        }     
        @include MobileL-425 {
            width: 70%;
        }
    }
    &__prof {
        // max-width: 470px;
        font-weight: 400;
        // font-size: 20px;
        @include adaptive-font(20, 12);
        text-transform: uppercase;
        color: $white;
        margin-bottom: 0.5em;
        @include containerWidth {
            font-size: 20px;
        }
    }
    &__name {
        width: max-content;
        font-weight: 700;
        // font-size: 64px;
        @include adaptive-font(64, 24);
        color: $white;
        margin-bottom: 0.390625em;
        @include containerWidth {
            font-size: 64px;
        }
    }
    &__line {
        // max-width: 470px;
        height: 1px;
        background-color: $white;
        @include adaptive-font(64, 24);
        margin-bottom: 0.390625em;
    }
    &__desc {
        // max-width: 470px;
        font-weight: 400;
        // font-size: 16px;
        @include adaptive-font(16, 8);
        @include containerWidth {
            font-size: 16px;
        }
        line-height: 1.25em;
        color: $white;
        margin-bottom: 1.5625em;
    }
    &__btn {
        // max-width: 470px;
        width: max-content;
        position: relative;
        font-weight: 700;
        // font-size: 32px;
        @include adaptive-font(32, 14);
        @include containerWidth {
            font-size: 32px;
        }
        letter-spacing: 0.05em;
        color: $acent;
        background-color: transparent;
        border: 2px solid $acent;
        padding: 0.3125em 1.71875em;
        outline: none;
        cursor: pointer;
        transition: all .2s linear;
    }
    &__arrow-down-link {
        display: block;
        position: absolute;
        width: -webkit-fill-available;
        left: 0;
        bottom: -25px;   
        transform: translateY(100%);   
        @include Tablet-768 {
            display: none;
        }          
    }
    &__arrow-down {
        max-width: 35px;
    }
    &__socials--wrapper {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include MobileL-425 {
            right: 20px;
        }
    }
    &__socials {
        margin: 25px 0;
        &--item {
            margin: 12.5px 0;
            &:first-child, 
            &:last-child {
                margin: 0;
            }
        }
        &--link {
            padding: 0.83333333333em;
            display: inline-block;
            border-radius: 50%;
            background-color: $white;
            color: $dark;
            // font-size: 30px;
            @include adaptive-font(30, 12);
            position: relative;
            &::before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            @include containerWidth {
                font-size: 30px;
            }
        }
        &--verticle-line {
            height: 19.75vh;
            width: 1px;
            display: block;
            background-color: $white;
        }
    }
}