.header {
    background-color: $dark;
    padding: 20px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 178px;
        fill: $white;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tel-icon {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        width: 1.5625em;
        height: 1.5625em;
        border-radius: 50%;
        color: $dark;
        background-color: $acent;
        margin-right: 5px;
        &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__tel {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: $acent;
    }
    &__lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
        &--item {
            margin: 0 15px;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.05em;
            color: $white;
            cursor: pointer;
            transition: all .2s linear;
            &:hover {
                color: $acent;
            }
            &:first-child, 
            &:last-child {
                margin: 0;
            }
        }
    }
}