.header {
    background-color: $dark;
    padding: 20px 0;

    display: flex;
    align-items: center;

    .container {
        // margin-right: -50px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 178px;
        @include adaptive-maxWidth(178, 98);
        fill: $white;
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__tel-icon {

    }
    &__tel {

    }
    &__lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
        @include adaptive-font(16, 12);        
        &--item {
            margin: 0 0.9375em;
            font-weight: 400;
            // font-size: 16px;
            letter-spacing: 0.05em;
            color: $white;
            cursor: pointer;
            transition: all .2s linear;
            &:hover {
                color: $acent;
            }
            &:first-child, 
            &:last-child {
                margin: 0;
            }
        }
        @include Tablet-500 {
            margin-left: 0.5em;
        }
        @include MobileL-425 {
            display: none;
        }
    }
}