.menu-burger,
.menu-burger::after,
.menu-burger::before {
    display: block;
    height: 5px;
    background-color: $white;
    cursor: pointer;
    transition: all .2s linear;
}
.menu-burger {
    position: relative;
    width: 50px;
    // margin-left: 50px;
    margin-right: 40px;
    &::after, 
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
    }
    &::before{
        top: -10px;
    }
    &::after{
        bottom: -10px;
    } 
}