.services {
    padding: $section-padding;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 30%;
        height: 2px;
        left: 0;
        top: 85px;
        background-color: $acent;
        @include Tablet-768  {
            width: 20%;
        }
        @include MobileL-425 {
            width: 10%;
            top: 62px;
        }
    }
    @include MobileL-425 {
        padding: $section-padding-mobile;
    }
    &__content {

    }
    &__title {
        font-weight: 700;
        @include adaptive-font(25, 20);
        text-align: center;
        letter-spacing: 0.05em;
        color: $dark;
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        @include Tablet-768 {
            margin-bottom: -50px;
        }        
    }
    &__item {
        width: calc(25% - 80px);
        margin: 0 40px;
        text-align: center;
        letter-spacing: 0.05em;
        color: $dark;
        @include Laptop-1024 {
            width: calc(25% - 40px);
            margin: 0 20px;
        }
        @include Tablet-768 {
            width: calc(50% - 80px);
            margin: 0 40px;
            margin-bottom: 50px;
        }
        @include MobileL-425 {
            width: 70%;
            margin: 0 0 50px 0;
        }
        &--img {
            max-width: 80px;
            margin-bottom: 20px;            
        }
        &--title {
            font-weight: 700;
            @include adaptive-font(16, 14);
            margin-bottom: 1.25em;
        }
        &--desc {
            font-weight: 400;
            @include adaptive-font(14, 12);
            line-height: 1.214em;
        }
    }
}